on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: "Before add actions/checkout@v3"
        run: ls

      - uses: actions/checkout@v3

      - name: "After add actions/checkout@v3"
        run: ls